Atv.json
{
    "Comment": "Um exemplo de usar Bedrock para encadear prompts e suas respostas",
    "StartAt": "Invoke model with first prompt",
    "States": {
      "Invoke model with first prompt": {
        "Type": "Task",
        "Resource": "arn:aws:states:::bedrock:invokeModel",
        "Parameters": {
          "ModelId": "arn:aws:bedrock:us-west-2:foundation-model/anthropic",
          "Body": {
            "anthropic.version": "bedrock-2023-05-31",
            "max_tokens": 2000,
            "messages": [
              {
                "role": "user",
                "content": {
                  "type": "text",
                  "text": "Estou programando um jantar romântico, nesse caso..."
                }
              }
            ]
          }
        },
        "Next": "Add first result to conversation history",
        "ResultPath": "$.result_one",
        "ResultSelector": {
          "result_one.$": "$.Body.content[0].text"
        }
      },
      "Add first result to conversation history": {
        "Type": "Pass",
        "Next": "Invoke model with second prompt",
        "Parameters": {
          "convo_one.$": "States.Format('{}\n{}', $.prompt_one, $.result_one)"
        },
        "ResultPath": "$.convo_one"
      },
      "Invoke model with second prompt": {
        "Type": "Task",
        "Resource": "arn:aws:states:::bedrock:invokeModel",
        "Parameters": {
          "ModelId": "arn:aws:bedrock:us-west-2:foundation-model/anthropic",
          "Body": {
            "anthropic.version": "bedrock-2023-05-31",
            "max_tokens": 2000,
            "messages": [
              {
                "role": "user",
                "content": {
                  "type": "text",
                  "text": "Liste duas bebidas que acompanhem um jantar romântico"
                }
              }
            ]
          }
        },
        "Next": "Add second result to conversation history",
        "ResultPath": "$.result_two",
        "ResultSelector": {
          "result_two.$": "$.Body.content[0].text"
        }
      },
      "Add second result to conversation history": {
        "Type": "Pass",
        "Next": "Invoke model with third prompt",
        "Parameters": {
          "convo_two.$": "States.Format('{}\n{}', $.convo_one, $.result_two)"
        },
        "ResultPath": "$.convo_two"
      },
      "Invoke model with third prompt": {
        "Type": "Task",
        "Resource": "arn:aws:states:::bedrock:invokeModel",
        "Parameters": {
          "ModelId": "arn:aws:bedrock:us-west-2:foundation-model/anthropic",
          "Body": {
            "anthropic.version": "bedrock-2023-05-31",
            "max_tokens": 2000,
            "messages": [
              {
                "role": "user",
                "content": {
                  "type": "text",
                  "text": "Liste um lugar perfeito para um jantar romântico"
                }
              }
            ]
          }
        },
        "End": true,
        "ResultPath": "$.result_three",
        "ResultSelector": {
          "result_three.$": "$.Body.content[0].text"
        }
      }
    }
  }
  
